body {
  font-family: 'Helvetica', sans-serif;
  line-height: 1;
  overflow-x: hidden;
  margin: 0;
}

@media (min-width: 20em) {
  body {
    font-size: 82.5%;
  }
}

@media (min-width: 32.5em) {
  body {
    font-size: 100%;
  }
}

/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  padding: 0;
  z-index: 3;
  background-color: #fff;
}

@media (min-height: 33.75em){
  #header {
    padding: 1.875em 0;
  }
}

#header, .header-container {
  width: 100%;
}

.header-container, .header-logo {
  position: relative;
  height: inherit;
}

.core .header-container, .page-title {
  padding: 0 1.25em;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 20em) {
  .header-container {
    max-width: 22.5em;
  }
}

@media (min-width: 32.5em) {
  .header-container {
    max-width: 35em;
  }
}

@media (min-width: 56.25em) {
  .header-container {
    max-width: 53.75em;
  }
}

.header-nav {
  position: absolute;
  top: 0;
  left: 1.25em;
  right: 1.25em;
  bottom: 0;
  height: inherit;
}

.list-nav {
  padding: 2.0625em 0;
  list-style-type: none;
  margin: 0;
}

li:first-child {
  margin-top: 0;
}

.list-nav-elem {
  margin: 0 -.625em;
  padding: 0;
  font-weight: 600;
  color: #7f507b;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1875em;
}

.list-nav-elem a {
  padding: 0 .625em;
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.list-nav-elem-left {
  float: left;
}

.list-nav-elem-right {
  float: right;
}

.header-logo {
  width: 5em;
  margin: 0 auto;
  z-index: 1;
}

#logo {
  height: 100%;
}

/* TITLE */

.core .page-title {
  position: absolute;
  top: 8.125em;
  left: 0;
  right: 0;
  max-width: 53.75em;
  height: calc(100vh - 250px);
  z-index: 2;
}

.core .page-title h1 {
  position: absolute;
  top: 50%; /* TODO: sort out positioning of this element */
  left: .8695em;
  max-width: 8.6959em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2.875em;
  font-weight: 700;
  letter-spacing: .1875em;
  text-transform: uppercase;
  color: #7f507b;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/* HERO */

.core .page-hero {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.core .page-background {
  background-image: url('assets/hero-background.png');
  background-position: center;
}

.page-background {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* MAIN */

#main {
  display: block;
  box-sizing: border-box;
  padding: 5.3125em 0 0;
  position: relative;
}

.container-element {
  margin: 0 auto;
}

@media (min-with: 20em){
  .container-element {
    padding: 4.0625em 0 0;
  }
}

@media (min-with: 32.5em){
  .container-element {
    padding: 4.6875em 0 0;
  }
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.25em;
  margin: 0 auto;
  max-width: 75em;
}

@media (min-width: 20em) {
  .container-base {
    max-width: 22.5em;
  }
}

@media (min-width: 32.5em) {
  .container-base {
    max-width: 35em;
  }
}

@media (min-width: 56.25em) {
  .container-base {
    max-width: 53.75em;
  }
}

.example {
  text-align: justify;
  padding-top: 2em;
}

@media (min-width: 56.25em) {
  .example-half {
    display: inline-block;
    width: 45%;
  }

  .example-right {
    float: right;
  }
}

#main h2 {
  margin: 0 0 .71429em;
  padding: 0;
  font-size: 1.5em;
  letter-spacing: .1875em;
  text-transform: uppercase;
  color: #7f507b;
  line-height: 1;
}

#main p {
  letter-spacing: .0625em;
  color: #1e1e1e;
  line-height: 1.8;
  margin: 0 0 1.42857em;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.container img {
  width: 100%;
}
