body {
  font-family: 'Roboto', sans-serif;
  font-size: 82.5%;
  line-height: 1;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
  padding-bottom: 10em;
}

@media (min-width: 32.5em) {
  body {
    font-size: 100%;
  }
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  padding: 0;
  z-index: 999;
  background-color: #FFFFFF;
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}

@media (min-height: 33.75em){
  header {
    padding: 1.875em 0;
  }

  header.smaller {
    padding: .5em 0;
  }
}

header, .header-container {
  width: 100%;
}

.header-container, .header-logo {
  position: relative;
  height: inherit;
}

.core .header-container, .page-title {
  padding: 0 1.25em;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-container {
  max-width: 22.5em;
}

@media (min-width: 32.5em) {
  .header-container {
    max-width: 35em;
  }
}

@media (min-width: 56.25em) {
  .header-container {
    max-width: 53.75em;
  }
}

.header-nav {
  position: absolute;
  top: 0;
  left: 1.25em;
  right: 1.25em;
  bottom: 0;
  height: inherit;
}

.list-nav {
  padding: 2.0625em 0;
  list-style-type: none;
  margin: 0;
  -webkit-transition: padding .3s;
  -moz-transition: padding .3s;
  -ms-transition: padding .3s;
  -o-transition: padding .3s;
  transition: padding .3s;
}

li:first-child {
  margin-top: 0;
}

.list-nav-elem {
  margin: 0 -.625em;
  padding: 0;
  font-weight: 600;
  color: #7F507B;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1875em;
}

.list-nav-elem a {
  padding: 0 .625em;
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

.list-nav-elem a:hover{
  color: #3ACCB0;
}

.list-nav-elem-left {
  float: left;
}

.list-nav-elem-right {
  float: right;
}

.header-logo {
  width: 5em;
  margin: 0 auto;
  z-index: 1;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

#logo {
  width: inherit;
  height: 100%;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

header.smaller {
  height: 3em;
  background-color: #EDEDED;
}

header.smaller .list-nav {
  padding: 1em 0;
}

header.smaller .header-logo {
  width: 3em;
}

/* TITLE */

.core .page-title {
  position: absolute;
  top: 8.125em;
  left: 0;
  right: 0;
  max-width: 53.75em;
  height: calc(100vh - 250px);
  z-index: 2;
}

.core .page-title h1 {
  position: absolute;
  top: 50%; /* TODO: sort out positioning of this element */
  left: .8695em;
  max-width: 8.6959em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2.875em;
  font-weight: 700;
  letter-spacing: .1875em;
  text-transform: uppercase;
  color: #7F507B;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/* HERO */

.core .page-hero {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.core .page-background {
  background-image: url('assets/hero-background.png');
  background-position: center;
}

.page-background {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* MAIN */

#main {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.node {
  padding: 3em 0 0;
}

.container-element {
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.25em;
  margin: 0 auto;
  max-width: 75em;
}

.container-base {
  max-width: 22.5em;
}

@media (min-width: 32.5em) {
  .container-base {
    max-width: 35em;
  }
}

@media (min-width: 56.25em) {
  .container-base {
    max-width: 53.75em;
  }
}

.example {
  width: 100%;
  padding-top: 1.5em;
}

.prototype-container {
  position: relative;
  padding-bottom: 177.5%;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.prototype-container iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 264px;
  height: 468px;
}


@media (min-width: 32.5em) {
  .prototype-container {
    padding-bottom: 654px;
    background-color: #1E1E1E;
  }

  .prototype-container iframe {
    width: inherit;
    height: 654px;
  }
}

@media (min-width: 32.5em) {
  .example {
    padding-top: 2.75em;
  }

  .colours, .fonts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .colours .example {
    flex-basis: 30%;
  }

  .fonts .example {
    flex-basis: 45%;
  }
}

@media (min-width: 56.25em) {
  .example {
    padding-top: 4em;
  }

  .example-half {
   display: inline-block;
   width: 45%;
 }

 .example-right {
   float: right;
 }
}

#main h2 {
  margin: 0 0 .71429em;
  padding: 0;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .1875em;
  text-transform: uppercase;
  color: #7F507B;
  line-height: 1.25;
}

#main p {
  margin: 0 0 1.42857em;
  padding: 0;
  color: #1E1E1E;
  text-align: justify;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: .0625em;
}

#main i {
  font-style: italic;
}

#main strong {
  font-weight: bold;
}

#main a {
  font-weight: 800;
  color: #7F507B;
  text-decoration: none;
  transition: color .3s;
  cursor: pointer;
}

#main a:hover{
  color: #3ACCB0;
}

#main .highlight {
  padding: 0.3125em 0.6250em;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #3ACCB0;
  border-radius: 0.15625em;
}

.container img {
  width: 100%;
}

.grid {
 width: calc(96%);
 padding: 2%;
 background-color: #EDEDED;
}

@media (min-width: 32.5em){
  .grid {
    margin-top: -4em;
  }
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
  width: calc(96% / 3);
}

.gutter-sizer {
  width: 2%;
}

.grid-item {
  width: calc((100% / 3) - 3%);
  height: 0;
  padding-bottom: calc((100% / 3) - 3%);
  float: left;
  background-color: #3ACCB0;
  border-radius: 5px;
}

.grid-item.temp {
  background-image: url('assets/temp.svg');
  background-size: cover;
}
.grid-item.wind {
  background-image: url('assets/wind.svg');
  background-size: cover;
}
.grid-item.cloud {
  background-image: url('assets/cloud.svg');
  background-size: cover;
}
.grid-item.rain {
  background-image: url('assets/rain.svg');
  background-size: cover;
}

.grid-item-width3 {
  width: 96%;
  height: 0;
  padding-bottom: 50%;
  /*padding-bottom: calc((100% / 3) - 4%);*/
  background-color: #7F507B;
}

.grid-item:hover {
  border-color: #FFFFFF;
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background-color: #FFFFFF;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 1px dashed #1E1E1E;
  outline-offset: -2px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
